.outer{
    height: 100vh;
    // background:linear-gradient(to top, #c9c9ff 50%, #4949f4 90% ) no-repeat;
    background-image: url(../../../assets/Register_Miami_Skyline.webp);
    padding: 50px;
    background-position: right bottom, left top;
    background-size: cover;
    background-repeat: no-repeat;
}

.registerHeader{
    font-family: cursive;
}

#forgot{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}


.text-center>a:hover{

    color: rgb(255, 17, 0);
}

.btn{
    margin-top:20px;
    border-radius: 15px;
}

.btn-primary:not(:disabled):not(.disabled):focus{   
    background-color: #1900ff;
    
}
.panel{
    min-height: 380px;
    border-radius: 12px;
    margin-top: 0px;
    margin-left:-2rem;
}

.container{
    
    margin-top:0px;
    margin-left: auto;
}

.input-field{
    display: flex;
    padding:5px;
    align-items: center;
    cursor: pointer;
    border:1px solid #ddd;
    color: #4343ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input-field.error{
    color:red;
    border:1px solid red;
}

input[type='text'],
input[type='password'],
input[type='email']{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn{
    border:none;
    outline: none;
    box-shadow: none;
}

img{
    width:40px;
    height: 40px;
    outline: none;
    border:none;
    border-radius: 50%;
    position: relative;
}

img:hover{
    transform: scale(1.3);
}

.bordert{
    border-top:1px solid #aaa;
    position: relative;
}

.bordert::after{
    font-family: 'Courier New', Courier, monospace;
    content:"Or Connect With";
    position:absolute;
    top:-13px;
    left:32%;
    background-color: #fff;
    padding:0 8px;
}

