@media screen and (min-width:200px) {

    mat-error{
        strong{
            font-weight: 400;
        }
    }

    .loader {
        display: block;
        width: 48px;
        top: 40%;
        left: 44%;
        height: 48px;
        border: 10px solid #000000;
        border-radius: 50%;
        position: fixed;
        z-index: 11111;
        transform: rotate(45deg);
        box-sizing: border-box;
    }

    .loader::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        inset: -10px;
        border-radius: 50%;
        border: 10px solid #FF3D00;
        animation: prixClipFix 2s infinite linear;
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
        }

        75% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
        }

        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
        }
    }

    .body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    mat-card {

        box-shadow: 2px 3px 5px 2px rgb(83, 83, 83);
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 1rem;
        padding: 1px;
        border-radius: 4px;
        justify-content: center;
        top: 7%;

        mat-card-content {

            color: white;
            padding: 5px;
            margin-top: 3px;

            mat-card-header {

                background-color: #283593;
                padding: 2px;
                border-radius: 4px;
                justify-content: center;
                margin-bottom: 0.8rem;
            }
            mat-card-title{
                font-size:13px;
            }
        }
    }

    form {
        margin-top: 8px;

        mat-form-field {
            width: 100%;
            margin-bottom: 6px;
        }
    }

    #btnBox>button {
        width: 100%;
        margin-top: 5px;
    }
}

@media screen and (min-width:600px) {
    
    mat-card-title {
        font-size:20px !important;
    }

    .loader {
        display: block;
        width: 48px;
        top: 40%;
        left: 48%;
        height: 48px;
        border: 10px solid #000000;
        border-radius: 50%;
        position: fixed;
        z-index: 11111;
        transform: rotate(45deg);
        box-sizing: border-box;
    }

    .loader::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        inset: -10px;
        border-radius: 50%;
        border: 10px solid #FF3D00;
        animation: prixClipFix 2s infinite linear;
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
        }

        75% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
        }

        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
        }
    }
    
    mat-card {
        max-width: 50% !important;
        left: 25%;
    }
}

@media screen and (min-width:1100px) {

    mat-card {
        width: 1000px;
        left: 25%;
        padding:1px;
        top: 15%;
    }

    form{
        mat-form-field {
            width:50%;
            padding:5px;
        }
    }
}