<span class="loader" [hidden]="spinnerLoading"></span>
<div class="body" [hidden]="!spinnerLoading" id="body">
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <div class="alert alert-success mt-2 mb-1" role="alert" [hidden]="successMsg">
                {{this.responseMsg}}
            </div>

            <div class="alert alert-danger mt-2 mb-1" role="alert" [hidden]="failMsg">
                {{this.responseMsg}}
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label><mat-icon>email</mat-icon>&nbsp;Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error
                        *ngIf="loginForm.controls?.['email']?.hasError('required') || loginForm.controls?.['email']?.hasError('email')"><strong>{{getEmailErrorMessage()}}</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label><mat-icon>lock</mat-icon>&nbsp;Password</mat-label>
                    <input matInput placeholder="Password" formControlName="pwd">
                    <mat-error
                        *ngIf="loginForm.controls?.['pwd']?.hasError('required')"><strong>{{getPasswordErrorMessage()}}</strong></mat-error>

                </mat-form-field>

                <span id="btnBox">
                    <button type="submit" mat-raised-button 
                        [disabled]="loginForm.invalid" 
                        color="primary">
                            <strong>LOG IN</strong>
                        </button>
                    <button type="button" 
                        mat-raised-button color="accent" 
                        (click)="moveToRegister()">
                        <strong>Don't have an Account ? Click to Register</strong>
                        </button>
                </span>

            </form>
        </mat-card-content>
    </mat-card>
</div>



