<body [hidden]="!notesBoxActive">
    <h2 mat-dialog-title>
        <p>Delete Notification</p>
    </h2>
    
    <mat-dialog-content>
        <div>
            <span id="headerText">Do you want to delete the product with the following -</span>
            <p>
                ID : <strong>{{this.tableData.DevId}}</strong>
                <br/>
                Device Type : <strong>{{this.tableData.DevType}}</strong>
                <br/>
                Owner: <strong>{{this.tableData.Owner}}</strong>
            </p>
            <p [formGroup]="tokenInput">
                Token : <input formControlName="token"/>
                <span class="form-text text-danger"
                    *ngIf="tokenInput.get('token')?.hasError('required')">Enter valid token</span>
            </p>
            Deletion Notes
            <div [formGroup]="deletedProductNote">
                 <textarea formControlName="Note" rows="2" cols="50" 
                    placeholder="Enter something......"></textarea>
                 <span id="notesCSS"
                    *ngIf="deletedProductNote.get('Note')?.hasError('required')">Enter enter comments</span>
            </div>
        </div>
        <hr/>

    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button id="cancelBtn" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
        <button id="submitBtn" mat-raised-button color="warn" [disabled]="tokenInput.invalid" (click)="deleteDevice(this.tableData.DevId)">Delete</button>
    </mat-dialog-actions>
</body>


<!-- <mat-card [hidden]="!notesBoxActive">
    <mat-card-content>
        <button (click)="x()">Click</button>
        <form>
            a <input formControlName="token"/>
            b <input formControlName="DevId"/>
            c <input />
        </form>
    </mat-card-content>
</mat-card> -->


