mat-card{
    width:170px;
}

mat-card-title{
    color: white;
    background-color: #051d92;
    font-size: xx-small;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    position: relative;
}

mat-form-field{
    width: 100%;
}