
    #icon:hover{
        transform: scale(1.3);
        color:rgb(0, 255, 30);
        cursor: pointer;
     }

    mat-toolbar{
        background-image: linear-gradient(180deg, #1264ef, #000 100%);
        position: relative;
        display: flex;
        color: white;
        padding-left: 0px;
        padding-right: 0px;
        cursor: pointer;
    
        .user-info{
            position: absolute;
            right:12px;
            display: flex;
            cursor: pointer;
        }
        mat-toolbar-row{
            span {
                font-family: cursive;
                font-size:x-small;
                margin-left: 7px;
                cursor: pointer;
            } 
        }
    }
    
    mat-sidenav-container{
        
        height:90vh;
        width:100%;
        cursor: pointer;
        mat-sidenav{
            color:white;
            background-image: linear-gradient(0deg, #008eff 0%, #00060a 87%);
            font-size: smaller;
            width: 25%;
            text-align: center;
            cursor: pointer;
            mat-list {
                font-size: smaller;
                cursor: pointer;
            } 
        }
    }

@media screen and (min-width:500px){
     
    mat-toolbar{
        #icon{
            font-size: x-large;
            cursor: pointer;
        }
        #headerText{
            font-size: medium;
            margin-left: 5px;
            cursor: pointer;
        }
        #userSpan{ 
            font-size: medium;
            margin-right: 5px;
            cursor: pointer;
        }
     }

     mat-sidenav-container {
        mat-sidenav {
            font-size: large;
            font-family: cursive;
            width: 20%;
            mat-list{ 
                padding: 12px;
                cursor: pointer;
            }
        }
     }

     #icon:hover{
        transform: scale(1.3);
        color:rgb(0, 255, 30);
        cursor: pointer;
     }
}

mat-sidenav-container{
    mat-sidenav{
        mat-list:hover {
            border:2px solid rgb(10, 13, 101);
            background-color: #0dc754;
            cursor: pointer;
        }
        mat-list:active{
            background-color: rgb(255, 98, 0);
        }
    }
}

.mat-list-item-focus{
    background-color: rgb(255, 0, 106);
}