<div class="container">
    <p>Device Details </p>
   <span>
        <div>Device Id : {{this.x.DevId}}</div>
        <div>Device Type : {{this.x.DevType}}</div>
        <div>Device Type Other : {{this.x.DevTypeOther}}</div>
        <div>Device Make : {{this.x.Make}}</div>
        <div>Device Owner : {{this.x.Owner}}</div>
        <div>Device Model: {{this.x.Model}}</div>
        <div>Device Serial : {{this.x.Serial}}</div>
        <div>Device Size : {{this.x.Size}}</div>
        <div>Device Toner : {{this.x.Toner}}</div>
        <div>Device Value : {{this.x.Value}}</div>
        <div>Device Warranty Expiry Date : {{this.x.WarrantyExpDate | date}}</div>
        <div>Device Service Expiry Date : {{this.x.ServiceExpDate | date}}</div>
        <div>Device Purchase Date : {{this.x.PurchaseDate | date}} </div>
   </span>
</div>
