.container {
    width: 210px;
    height: 250px;
    position: relative;
    font-size: xx-small;
}

mat-card {
    width: 210px;
    height: 321px;
    position: relative;
    font-size: xx-small;

    mat-card-title {
        span {
            position: relative;
            display: block;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
            text-align: center;
            font-size: 16px;
            background-color: #090580;
            color: white;
            margin-bottom: 7px;
        }
    }

    #closeBtn {
        padding: 1px 1px 1px 1px;
        width: 86px !important;
        height: auto;
        margin-top: 9px;
    }

    #excelBtn {
        padding: 1px 16px 1px 0px;
        width: 44%;
        height: auto;
        margin-left: 9px;
        margin-top: 9px;
    }
}

#excelImg {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
}

#closeBtn:hover {
    background-color: rgb(134, 5, 254);
}

#excelBtn:hover {
    background-color: rgb(134, 5, 254);
    color: white;
}

@media screen and (min-width:350px) {

    mat-card {
        width: 210px;
        height: 321px;
        position: relative;
        font-size: xx-small;
            #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 85px !important;
            height: auto;
            margin-top: 9px;
            }

        #excelBtn {
            padding: 1px 16px 1px 0px;
            width: 46%;
            height: auto;
            margin-left: 9px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:430px) {

    mat-card {
        width: 253px;
        height: 346px;
        position: relative;
        font-size: x-small;

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 110px !important;
            height: auto;
            margin-top: 9px;
        }

        #excelBtn {
            padding: 1px 16px 1px 0px;
            width: 46%;
            height: auto;
            margin-left: 9px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:475px) {

    mat-card {
        width: 263px;
        height: 346px;
        position: relative;
        font-size: x-small;

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 110px !important;
            height: auto;
            margin-top: 9px;
        }

        #excelBtn {
            padding: 1px 16px 1px 0px;
            width: 48%;
            height: auto;
            margin-left: 9px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:495px) {

    mat-card {
        width: 285px;
        height: 371px;
        position: relative;
        font-size: 11px;

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 117px !important;
            height: auto;
            margin-top: 9px;
        }

        #excelBtn {
            padding: 1px 16px 1px 0px;
            width: 50%;
            height: auto;
            margin-left: 9px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:620px) {

    mat-card {
        width: 291px;
        height: 371px;    
        position: relative;
        font-size: 11px;

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 119px !important;
            height: auto;
            margin-top: 9px;
            margin-left: -3px;
        }

        #excelBtn {
            display: inline-flex;
            justify-content: center;
            width: 51%;
            height: auto;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:690px) {

    mat-card {
        width: 343px;
        height: 397px;
        position: relative;
        font-size: 12px;

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 136px !important;
            height: auto;
            margin-top: 9px;
            margin-left: -3px;
        }

        #excelBtn {
            display: inline-flex;
            justify-content: center;
            width: 54%;
            height: auto;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:760px) {

    mat-card {
        width: 376px;
        height: 423px;
        position: relative;
        font-size: 13px;

        mat-card {
            mat-card-title {
                span {
                    position: relative;
                    display: block;
                    margin-top: 4px;
                    margin-left: 4px;
                    margin-right: 4px;
                    text-align: center;
                    font-size: 19px;
                    background-color: #090580;
                    padding: 1px;
                    color: white;
                    margin-bottom: 7px;
                }
            }
        }

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 151px !important;
            height: auto;
            margin-top: 9px;
            margin-left: -3px;
        }

        #excelBtn {
            display: inline-flex;
            justify-content: center;
            width: 54%;
            height: auto;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:850px) {

    mat-card {
        width: 409px;
        height: 473px;
        position: relative;
        font-size: 15px;

        mat-card {
            mat-card-title {
                span {
                    position: relative;
                    display: block;
                    margin-top: 4px;
                    margin-left: 4px;
                    margin-right: 4px;
                    text-align: center;
                    font-size: 19px;
                    background-color: #090580;
                    padding: 1px;
                    color: white;
                    margin-bottom: 7px;
                }
            }
        }

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 169px !important;
            height: auto;
            margin-top: 9px;
            margin-left: -3px;
        }

        #excelBtn {
            display: inline-flex;
            justify-content: center;
            width: 53%;
            height: auto;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:1150px) {
    mat-card {
        width: 469px;
        height: 533px;
        position: relative;
        font-size: 16.7px;

        mat-card {
            mat-card-title {
                span {
                    position: relative;
                    display: block;
                    margin-top: 4px;
                    margin-left: 4px;
                    margin-right: 4px;
                    text-align: center;
                    font-size: 19px;
                    background-color: #090580;
                    padding: 1px;
                    color: white;
                    margin-bottom: 7px;
                }
            }
        }

        #closeBtn {
            padding: 1px 1px 1px 1px;
            width: 195px !important;
            height: 34px;
            margin-top: 9px;
            margin-left: -3px;
        }

        #excelBtn {
            display: inline-flex;
            justify-content: center;
            width: 53%;
            height: 34px;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
}

@media screen and (min-width:1300px) {
    #excelImg {
        border:2px solid red !important;
    }
}