  .loader {
    width: 48px;
    height: 48px;
    top: 38%;
    left: 43%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0025ff #005dff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 rgb(0, 0, 0)606 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  #goBackButton{
    position: relative;
    display: flex;
    padding: 6px 9px;
  }

  .headerBox {

    margin-top: 10px;
    margin-left: 14px;
    margin-right: 15px;
    padding: 9px;
    color: white;
    background: linear-gradient(2deg, #1550f2, black);
    font-family: cursive;
  }

  #selectionBox {
    width: 100%;
  }

  .example-form {
    height: 75vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding: 11px;
  }

  .example-full-width {
    width: 100%;
  }

  #dateBox {
    padding: 7px 1px;
    white-space: nowrap;
    line-height: 28px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  #dateBox>mat-label{
    font-size: x-small;
  }

  #submitBtn {
    background-color: #0a58ca;
  }

  @media screen and (max-width:360px) {

    .example-form{
      height: 1395px;
    }
  }

@media screen and (min-width:360px) {

  .example-form{
    height: 1390px;
  }

  .loader {
    width: 48px;
    height: 48px;
    top: 39%;
    left: 47%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0025ff #005dff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }

  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 rgb(0, 0, 0)606 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

@media screen and (min-width:400px) {

  .loader {
    width: 48px;
    height: 48px;
    top: 39%;
    left: 49%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0025ff #005dff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 rgb(0, 0, 0)606 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

}

@media screen and (min-width:500px) 
{
  .loader {
    width: 48px;
    height: 48px;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0025ff #005dff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #000000 rgb(0, 0, 0)606 transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

@media screen and (min-width:500px) and (max-width:545px)
{
  mat-form-field{
    #pDate
    {
      font-size: x-small;
    }
  }
  mat-form-field{
    #wexDate{
      font-size: xx-small;
    }
  }
  mat-form-field {
    #servexDate {
      font-size: x-small;
    }
  }
}

@media screen and (min-width:545px) and (max-width:578px) {
  mat-form-field {
    #pDate {
      font-size: small;
    }
  }
  mat-form-field{
    #wexDate {
      font-size: x-small;
    }
  }
  mat-form-field{
    #servexDate {
      font-size: x-small;
    }
  }
}

@media screen and (min-width:578px) and (max-width:646px) {
  mat-form-field {
    #pDate {
     font-size: smaller;
    }
  }
  mat-form-field{
    #wexDate {
      font-size: x-small;
    }
  }
  mat-form-field{
    #servexDate {
      font-size: x-small;
    }
  }
}

@media screen and (min-width:646px) and (max-width:712px) {

  mat-form-field{
    #wexDate {
      font-size: small;
    }
  }

  mat-form-field{
    #servexDate {
      font-size: smaller;
    }
  }
}

@media screen and (min-width:500px) 
{
  .headerBox
  {
    font-size: larger;
  }

  mat-form-field {
    width: 50% !important;
    padding: 4px;
  }
  
  #purcDate{

    width: 33% !important;
  }
  #warrDate{

    width: 33% !important;
  }

  #servDate{
    width: 34% !important;
  }

  .example-form{
    height: 760px;
  }
}


button {
  cursor: pointer;
}

button:hover{
  transform:scale(1.1);
  background-color:rgb(6, 243, 81);
}



