.headerBox{
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 15px;
    padding: 9px;
    color: white;
    background: linear-gradient(2deg, #1550f2, black);
    font-family: cursive;
}

#selectionBox{
    width: 100%;
}

.example-form {
   
    height: 75vh;
    margin-top: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding: 1rem;
  }
  
  .example-full-width {
    width: 100%;
  }